.contact{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-family: 'Poppins', sans-serif;
}
.contact i {
    font-size: 1.5rem;
}

.contact-info {
    display: flex;
    align-items: center;
    gap: 2.4rem;
}

.text-contact {
    font-size: 1rem;
}

.social {
    display: flex;
    gap: 2rem;
}
.social-container{
    display: flex;
    transform: scale(1.2);
}
.social-icon {
    height: 16px;
    width: 16px;
    padding: 1.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 3px solid #FFF;
    color: white;
    font-size: 1.7rem;
    transition: color .15s;
}

.social-icon:hover {
    background-color: blue;
    border-color: white;
    transform: scale(1.1);

}
.copyrigth {
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
}
