.menu{
    display: flex;
    gap: 80px;
    font-size: 2rem;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.menu a{
    border-bottom: 4px solid transparent;
    transition: border-color .5s;
}

.menu a:hover{
    border-color: black;
}


@media(max-width: 640px){

    .menu{
        gap: 40px;
        font-size: 1.8rem;
    }
    
}